// Google Font - Roboto
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

// color
$white-color: #FAFAFA;
$white-color-2: #FFFFFF;
$blue-color: #1E5AF9;
$black-color: #101031;
$gray-color: #ababac;

// Font Family - Roboto
$font-family: 'Inter', sans-serif;